.bg-gradient.bg-gradient{
    background: #89214a; 
    background: -webkit-linear-gradient(to right, #89214a, #3d526c); 
    background: linear-gradient(to right, #89214a, #3d526c); 
}
.bg-gradientTopBottom.bg-gradientTopBottom{
    background: #89214a; 
    background: -webkit-linear-gradient(to bottom, #89214a, #3d526c); 
    background: linear-gradient(to bottom, #89214a, #3d526c); 
}
.bg-gradient1.bg-gradient1{
    background: #771C3F; 
    background: -webkit-linear-gradient(to right, #771C3F, #0E606E); 
    background: linear-gradient(to right, #771C3F, #0E606E); 
}
.boxShadow{
    box-shadow: 0px 0px 5px #ccc;
    padding: 15px;
}
.boxshadow-tb-inset{
    box-shadow: inset 0px 2px 5px #ccc, inset 0px -2px 5px #ccc;
  }
.bg-round{
    border-radius: 0 60px 0 50px;
}
.bg-round-inverse{
    border-radius: 60px 0 50px 0;
}
.bg-round-m{
    border-radius: 0 30px 0 30px;
}
.bg-round-lt{
    border-radius: 30px 0 0 0;
}
.bg-round-rb{
    border-radius: 0 0 30px 0;
}
.bg-round-m-inverse{
    border-radius: 30px 0 30px 0;
}
.focus-input input{
    border: 2px solid transparent
}
.focus-input input:focus{
    border-color:#b92f6a;
}
.border3{
    border:3px solid #b92f6a;
}
.bg-stgray{
    background-color: #606060;
    border-top:1px solid #746c77;
    border-bottom:1px solid #746c77;
}
.bg-stlightpink{
    background-color: #9f5f78;
}
.bg-stgreen{
    background-color: #1dd65f;
}
.bg-stblack{
    background-color: #000000;
}
.bg-stred{
    background-color: #771c3f;
}
.bg-stskylight{
    background-color: #558f99;
}
.bg-stwhite{
    background-color: #f2f2f0;
}
.bg-styellow{
    background-color: #facc05;
    color: #fff;
}
.short-strip-text{
    text-align: center;
    color: #fff;
    font-size: 21px;
    padding: 5px 0;
}

/*========== form page css start here ========= */
.form-container{
    padding-top: 50px;
    padding-bottom: 50px;
}
.form-inner-container{
    padding: 30px;
    
}
.form-container .block-title{
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 50px;
}
.form-group{
    margin-bottom: 15px;
}

.form-fild50 .btn-signup{
    margin-top: 4px;
    padding: 14px 35px;
}
@media (min-width: 768px){
    .form-fild50 .form-group{
        width: 48%;
        float: left;
        margin-right: 5px;
        margin-left: 5px;
    }
    .form-fild50 .form-fild25.form-group{
        width: 23%;
    }
    .form-fild50 .form-group.full-input{
        width: 98%;
    }
    .forgot-password a{
        margin-left: 10px;
        color: #a7a7a7;
    }
    .forgot-password a:hover{
        color: #b92f6a;
    }
}
/*========== form page css end here ========= */


/*====== product list css start here ======*/
.product__group{
}
.product__group ul{
	text-align:center;
}
.product__group ul, .product__group ul li{
	padding:0;
	margin:0;
	list-style:none;
}
.product__group ul li{
	display:inline-block;
	font-size:1.4rem;
	color:#808080;
	text-align:center;
	border-bottom:1px solid #ccc;
	padding: 0 50px 15px;
	position:relative;
	cursor:pointer;}
.product__group ul li:after{
	content: "";
    height: 3px;
    width: 0;
    background-color: #0088CE;
    position: absolute;
    margin: 0 auto;
    left: 0;
	right:0;
    top: 40px;
	-webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
	
}

.pro__tab--content {
	display: none;
}
.pro__tab--content.current {
	display: inherit;
}
@media (min-width: 1201px){
	.product__group ul li:after{
		top:45px;
	}
}

.product__group .product_list{ 
	margin-bottom:20px;
}

.product__group .products__item{
	background-color: #efefef;
    text-align: center;
    border: 2px solid #e2e2e2;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
	
}
.product__group.padding-tb .products__item{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* .product__group .products__item:hover{
	border-color: #b92f6a;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
} */
.product__group .products__item--img{
	position:relative;
}
.product__group .cont-hover{
    position: absolute;
    top: -100%;
    left: 0;
    padding: 20px;
    font-size: 18px;
    height: 100%;
    width: 100%;
    background: #721D41;
    background: -webkit-linear-gradient(top, #721D41, #463D55);
    background: -moz-linear-gradient(top, #721D41, #463D55);
    background: linear-gradient(to bottom, #721D41, #463D55);
    transition: all 500ms ease;
}
.product__group .cont-hover--cont{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    transition: all 500ms ease;
}
.product__group .products__item:hover .cont-hover{
    top:0;
    transition: all 500ms ease;
}
.product__group .products__item--img a{ 	
	display:block;
}
.product__group .products__item__details{
	padding: 30px 20px;
}
.product__group .products__item__details .item--title{
	font-size:1.2rem;
    line-height: 1.4;
	margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
    color: #0E606E;
}
.product__group.no-border .products__item__details .item--title{
    border-bottom: none;
}
.product__group .products__item__details .item--price{
	margin-bottom:5px;
	display:block;
    color: #b92f6a;
    font-weight: bold;
}


@media (min-width: 540px){
	.product__group.product__view{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.product__group.product__view .product_list{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-bottom:30px;
	}
}

@media (min-width: 768px){
	.product__group{ }
    .pro__content__center .product__group{
        display: flex;
        clear: both;
        overflow: hidden;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .product__group.padding-tb .products__item{
        margin-top: 15px;
        margin-bottom: 15px;
    }
	.product__group .products__item{ 
        height:100%;
    }
    .grid3 .product__group .products__item{ 
        margin: 20px 0;
    }
	.product__group .product_list{ 
		margin-bottom:0;
	}
}
@media (min-width: 992px){
	.product__group .products__item--img .new-sticker{
		font-size:1.2rem;
	}
}

/*====== product list css End here ======*/
.enroll-section.enroll-section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}
.certifications-section.certifications-section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
}
.subscribe__form input{
    margin-bottom: 20px;
}


/*====== course m2m css start here ====== */
/* ==== course planCat css start here====*/

.course-planCat{

}
.course-planCat__inner ul{
    text-align: center;
}
.course-planCat__inner ul li{
    display: inline-block;
}
.course-planCat__inner ul li:first-child{
    padding-right: 70px;
    margin-right: 70px;
    border-right: 2px solid #ccc;
}
.course-planCat__item{
   width: 190px;
}
.course-planCat__item--img a{
    display: block;
}
.course-planCat__item--img{
     border: 2px solid #b92f6a;
     text-align: center;
     margin-bottom: 20px;
     -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}
.course-planCat__item--img:hover{
    border-color:#e2e2e2;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}
.course-planCat__item--img img{
   max-width: 75px;
   background-color: #fff;
   border-radius: 6px;
   margin: 20px auto;
   padding: 10px;
}
.course-planCat__item__details a{
    display: block;
    text-align: center;
}
.course-planCat__item__details a img{
    width: 15px;
}
@media (max-width: 567px){
    .course-planCat__item{
        margin:0 auto;
    }
    .course-planCat__inner ul li{
        display: block;
    }
    .course-planCat__inner ul li:first-child{
        padding-right: 0px;
        margin-right: 0px;
        border-right:none;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 2px solid #ccc;
    }
}
/* ==== course planCat css end here====*/

/*====== course m2m css start here ====== */

/*====== pricing table box css start here ======*/
@media (max-width: 567px){
    .price-table-cont{
        overflow-x: scroll;
    }
    .pricing-table-box{
        min-width: 640px;
    }
}
.pricing-table-boxpricing-table-box {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
	width: 100%;
}

.pricing-table-box td {
    padding: 0px;
    border-left: 1px solid transparent;
}

.pricing-table-box .pricing-table-box-list td {
    padding: 13px 15px;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    background: #fff;
}

.pricing-table-box .pricing-table-box-list .glyphicon-ok {
    color: #68AF27;
}

.pricing-table-box .pricing-table-box-list .glyphicon-remove {
    color: #C22439;
}

.pricing-table-box .pricing-table-box-list td:first-child {
    font-weight: 400;
    text-align: left;
    border-left: 0px;
    font-size: 14px;
    color: #060606;
}

.pricing-table-box .pricing-table-box-list:nth-child(2n) td {
    background: #ddd;
}

.pricing-table-box .pricing-table-box-text h2 {
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #8a8a8a;
}

.pricing-table-box .pricing-table-box-text p {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #666;
    margin-top: 10px;
}

.pricing-table-box .pricing-table-box-item {
    color: #FFF;
}

.pricing-table-box .pricing-table-box-item .pricing-table-box-item-head {
    padding: 15px 10px;
    text-align: center;
}
.pricing-table-box .pricing-table-box-item .pricing-table-box-item-head.bg-color{
    background-color: #b92f6a;
    color:#fff;
    border-radius: 30px 0 0 0;
}
.pricing-table-box .pricing-table-box-item .pricing-table-box-item-head.bg-color p{
    color: #fff;
}

.pricing-table-box .pricing-table-box-item .pricing-table-box-item-head p {
    font-size: 17px;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 0px;
    color: #b92f6a;
}

.pricing-table-box .pricing-table-box-item .pricing-table-box-item-price {
    padding: 15px 10px;
    text-align: center;
    color: #009AD7;
    background: #F9F9F9;
}

.pricing-table-box .pricing-table-box-item .pricing-table-box-item-price p {
    font-size: 31px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 0px;
}

.pricing-table-box .pricing-table-box-item .pricing-table-box-item-price p span {
    font-size: 12px;
    font-weight: 300;
}

.pricing-table-box .pricing-table-box-item .pricing-table-box-item-price > span {
    font-size: 12px;
    font-weight: 400;
    color: #009AD7
}

.pricing-table-box .pricing-table-box-item .pricing-table-box-item-purchase {
    padding: 10px 5px;
    background: #FFF;
}

.pricing-table-box-item-purchase{
    font-size: 18px;
    color: #b92f6a;
}
.bg-color .pricing-table-box-item-purchase{
    color: #fff;
}
.pricing-table-box .pricing-table-box-list td.bg-color{
    background-color: #b92f6a !important;
    color:#fff;
    border-radius: 0 0 30px 0;
}
.pricing-table-box .pricing-table-box-list:nth-child(1n) td.second-row {
    background: #f5f1f3;
}

.pricing-table-box .pricing-table-box-list:nth-child(2n) td.second-row {
    background: #eae5e7;
}
.pricing-table-box .pricing-table-box-list:nth-child(1n) td.third-row {
    background: #F2F2F2;
}

.pricing-table-box .pricing-table-box-list:nth-child(2n) td.third-row {
    background: #eae6e8;
}
.pricing-table-box .pricing-table-box-list:nth-child(1n) td.fourth-row {
    background: #fff;
}

.pricing-table-box .pricing-table-box-list:nth-child(2n) td.fourth-row {
    background: #ddd;
}

/*====== pricing table box css end here ======*/

.course-video-cont{
    max-width: 432px;
    margin: 0 auto;
    height: 230px;
}
.course-video-cont video{
    height: 222px;
    width: 324px;
    margin: 8px auto 0;
    padding: 0;
}
.laptop-frame{
    background-image: url('../images/laptop-macbook.png');
    padding: 0px;
    background-repeat: no-repeat;
    background-size: 430px 100%;
    height: 250px;
}

/*====== Our Clients css start here ======*/
.a-clients ul, .a-clients ul li{
    padding: 0;
    margin: 0;
}



.a-clients .a-clients__list ul li {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 48%;
    pointer-events: auto;
  }
.a-clients ul li a{
    background-color: #fff;
    border-radius: 100%;
    padding: 5px;
    display: inline-block;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
    position: relative;
}
.a-clients ul li a img{
    margin:0 auto;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
  @media (max-width: 580px) {
    .a-clients .a-clients__list ul li {
       width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  
  @media (min-width: 768px) {

    .a-clients .a-clients__list ul li {
      width: 23%;
      padding-right: 10px;
    }
  }


  /*slider arrow*/
  .a__testimonial{
    padding: 40px 30px; 
    background-color: #fff;
    position: relative;
  }
  .a__testimonial:after{
    content: ' ';
    position: absolute;
    bottom: -45px;
    left: 2px;
    content: "\f10d";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 120px;
    color: #0e606e;
    opacity: 0.1;

  }
  .a__testimonial .testimonial{
      height: auto;
  }
.a__testimonial .a__info--image{ 
    width: 100px; 
    float: left;
    margin-right: 30px;
}
.a__testimonial .a__info--image img{ 
    border-radius: 100%;
    border:2px solid #ccc;
    padding: 2px;
}
.a__testimonial .a__testimonial__info{
    text-align: right;
}
.a__testimonial .a__testimonial__info p{
  font-size: 1.2rem;
}
.a__testimonial .slider__dots {
  width: 100%;
  text-align: center;
}
.a__testimonial .slider__dots li {
  color: #fff;
  width: 20px;
  transition: transform 0.2s;
  position: relative;
  display: inline-block;
}
.a__testimonial .slider__dots li button{
  border: none;
  background: #066cc1;
  border-radius: 0;
  width: 10px;
  height: 10px;
  font-size: 0;
}
.a__testimonial .slider__dots li.slick-active button{
  background: #011f3c;
}
.a__testimonial .slick-arrow {
    font-size: 0;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 100%;
    transition: all 0.3s;
    background: #333333;
    top: auto;
    bottom: 30px;
    text-align: center;
}
.a__testimonial .slick-arrow:hover{
  background-color: #b92f6a;
  color: #fff;
}

.a__testimonial .slick-arrow:after {
  display: none;
}
.a__testimonial .slick-arrow.slick-prev {
    left: auto;
    right: 60px;
    padding: 0;
    margin: 0;
    text-align: right;
    bottom: 0px;
    text-align: center;
  }
  .a__testimonial .slick-arrow.slick-next {
    padding: 0;
    margin: 0;
    text-align: center;
    right: 10px;
    bottom: 0px;
  }
.a__testimonial .slick-arrow:before {
  background: none;
  content: "\f105";
  display: inline-block;
  font: normal normal normal 21px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  height: 22px;
}
.a__testimonial .slick-arrow:hover:before {
  color: #fff;
}

@media (max-width: 767px) {
.a__testimonial .slider__dots {
    display: block;
    position: relative;
    right: inherit;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    bottom: 0;
  }
.a__testimonial .slider__dots li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: initial;
  }
.a__testimonial .slick-list[style]{
    padding:0 50px 0 0 !important;
  }
}

/* video */
.testimonial_video{
    text-align: center;
}
.testimonial_video video{
    width: 400px;
    margin: 0 auto;
}
/*====== Our Clients css end here ======*/

/* ====== course pages page css start here ====== */
 
  .a-iconList ul, .a-iconList ul li{
    padding: 0px;
    margin: 0px;
  }
  .a-iconList ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .a-iconList ul li{
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      width: 100%;
      margin-right: 15px;
      border-radius: 30px 0 0 0;
      overflow: hidden;
      margin-top: 10px;
    margin-bottom: 10px;
  }
  .a-iconList ul li:nth-child(even){
    border-radius: 0 0 0 30px;
  }
  .a-iconList ul li:last-child{
      margin-right: 0;
  }
  .a-iconList ul li.drive-icon{
    border-color: #333;
  }
  .a-iconList ul li.drive-icon .a-iconList__icon{
    background-color: #333333;
  }
  .a-iconList ul li.data-icon .a-iconList__icon{ 
    background-color: #771c3f;
  }
  .a-iconList ul li.data-icon, .a-iconList ul li.data-icon p{
    border-color: #771c3f;
    color: #771c3f;
  }
  .a-iconList ul li.bring-icon .a-iconList__icon{ 
    background-color: #0e606e;
}
.a-iconList ul li.bring-icon, .a-iconList ul li.bring-icon p{
    border-color: #0e606e;
    color: #0e606e;
}
.a-iconList ul li.influencer-icon .a-iconList__icon{ 
    background-color: #606060;
}
.a-iconList ul li.influencer-icon, .a-iconList ul li.influencer-icon p{
    border-color: #606060;
}
  .a-iconList ul li .a-iconList__icon{
    align-items: center;
    display: flex;
    width: 100px;
  }
  .a-iconList__inner{
      display: flex;
  }
  .a-iconList__icon img{
      width: 70px;
      padding: 3px;
  }
  .a-iconList__info{
      padding: 5px;
  }
.a-iconList__info p{
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 1.4;
}
.a-iconList__info h6{
    font-weight: bold;
}

@media (min-width: 768px) {
    .a-iconList ul li{
        width: 47%;
        
    }
}

@media (min-width: 992px) {
    .a-iconList ul li{
        width: 23.7%;
        margin-top: 0px;
        margin-bottom: 0px;
  }
}

/*====== two row design css start here ======*/
.a-iconList.two-row ul li{
    margin-bottom: 5px;
    margin-right: 10px;
}
.two-row .a-iconList__info h6{
    font-weight: normal;
    color: #fff;
    width: 100%;
}
.two-row .a-iconList__icon img {
    width: 60px;
    padding: 3px;
}
.two-row .a-iconList__info {
    padding: 5px;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
}
.a-iconList.two-row ul li .a-iconList__icon{
    width: auto;
}
.a-iconList.two-row ul li{
    border-radius: 30px 0 0 0;
}
.a-iconList.two-row ul li:nth-child(3), .a-iconList.two-row ul li:nth-child(4){
    border-radius: 0 0 30px 0;
}
.badir-logo{
    height: 100px;
    line-height: 100px;
    text-align: center;
    padding-top: 10px;
}
@media (min-width: 768px) {
    .a-iconList.two-row ul li{
        width: 47%;
    }
}
/*====== two row design css end here ======*/

/*====== one row design start here ======*/
.a-iconList.one-row ul {
    display: block;
}
.a-iconList.one-row ul li{
    width: 100%;
}
.a-iconList.one-row ul li{
    margin-bottom: 5px;
    margin-right: 10px;
}
.one-row .a-iconList__info h6{
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    width: 100%;
    margin: 5px 0;
}

.one-row .a-iconList__info {
    padding: 5px;
    width: 100%;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}
.a-iconList.one-row ul li .a-iconList__icon{
    width: auto;
    font-size: 18px;
    padding-left: 20px;
    color: #fff;
}
.a-iconList.one-row ul li{
    border-radius: 30px 0 0 0;
}
.a-iconList.one-row ul li:nth-child(3), .a-iconList.one-row ul li:nth-child(4){
    border-radius: 30px 0 0 0;
}
/*====== one row design end here ======*/
/*====== three row design start here ======*/
.a-iconList.three-row ul li{
    margin-bottom: 10px;
    margin-right: 15px;
}
.a-iconList.three-row .a-iconList__inner{
    padding: 10px;
}
.three-row .a-iconList__info h6{
    font-weight: normal;
    color: #fff;
    width: 100%;
    text-align: left;
    line-height: 1.3;
}
.three-row .a-iconList__icon img {
    width: 80px;
    padding: 3px;
}
.three-row .a-iconList__info {
    padding: 5px;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    min-height: 80px;
}
.a-iconList.three-row ul li .a-iconList__icon{
    width: auto;
    margin-right: 10px;
}
.a-iconList.three-row ul li{
    border-radius: 30px 0 0 0;
}
.a-iconList.three-row ul li:nth-child(4), .a-iconList.three-row ul li:nth-child(5), .a-iconList.three-row ul li:nth-child(6){
    border-radius: 0 0 30px 0;
}

@media (min-width: 768px) {
    .a-iconList.three-row ul li{
        width: 47%;
    }
}
@media (min-width: 992px) {
    .a-iconList.three-row ul li{
        width: 31%;
  }
}
@media (min-width: 1200px) {
    .a-iconList.three-row ul li{
        width: 32%;
  }
}
/*====== three row design start here ======*/
/* ====== course page css start here ====== */

/*====== product icon list css start here ======*/

.product-icon__group ul{
	text-align:center;
}
.product-icon__group ul, .product-icon__group ul li{
	padding:0;
	margin:0;
	list-style:none;
}
.product-icon__group ul li{
	display:inline-block;
	font-size:1.4rem;
	color:#808080;
	text-align:center;
	padding: 0 50px 15px;
	position:relative;
	cursor:pointer;
}

.product-icon__group .product-icon_list{ 
	margin-bottom:20px;
}

.product-icon__group .products-icon__item{
    text-align: center;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
	
}

.product-icon__group .products-icon__item--img img{   
	max-width: 70px;
}
.product-icon__group .products-icon__item--img a{ 	
	display:block;
}
.product-icon__group .products-icon__item__details{
    padding: 10px;
}
.product-icon__group .products-icon__item__details p{
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #fff;
}

@media (min-width: 540px){
	.product-icon__group.product-icon__view{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.product-icon__group.product-icon__view .product-icon_list{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-bottom:30px;
	}
}

@media (min-width: 768px){
    .product-icon__group .products-icon__item{
        margin-top: 15px;
        margin-bottom: 15px;
    }
	.product-icon__group .products-icon__item{ 
        height:100%;
    }
   
	.product-icon__group .product-icon_list{ 
		margin-bottom:0;
	}
}


/*====== product list css End here ======*/
/*====== card block css Start here ======*/
.card-block .card-block-list li{
    display: inline-block;
    background-color: #fafafa;
    box-shadow: 0 0 10px #ccc;
    padding: 20px;
    margin: 10px;
    width: 31%;
    text-align: center;
}
.card-block .card-block-list li figure{
    display: block;
    text-align: center;
}
.card-block .card-block-list li figure img{
    margin:0 auto;
}

/*====== qsforum css start here ====== */
.qsforum{

}
.qsforum ul, .qsforum ul li{
    padding: 0;
    margin: 0;
}
.qsforum ul .qsforum__list{
    background-color: #fff;
    margin-bottom: 10px;
}
.qsforum ul .qsforum__list--title{
    padding: 8px 30px;
    background-color:#f1f1f1 ;
    background-image: linear-gradient(#fff, #f1f1f1);
}
.qsforum ul .qsforum__list--ans{
    padding: 8px 30px;
}
/*====== qsforum css end here ====== */

/* ====== Tools and methods ====== */
.certi-belt img{
    transform: scale(1.3);
}
.tool-icon{
    width: 60%;
}
.tool-icon ul, .tool-icon ul li{
    padding: 0;
    margin: 0;
}
.tool-icon ul li {
    display: inline-block;
}
.tool-icon ul li img{
-webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 1s;
}
.tool-icon ul li:hover img{
    -webkit-filter: none;
  filter: none;
  transition: all 1s;
}
.projectment{}
.projectment ul{}

.projectment ul li{
    padding: 15px;
}
.projectment__group{}
.projectment__group__list{
    display: inline-block;
    width: 100%;
}
.pm__g__l--image{
    width: 100%;
}
.pm__g__l--image img{
    width: 100%;
    border-radius: 6px;
}
.pm__g__l--info{
    padding-top: 15px;
    padding-bottom: 15px;
}
@media (min-width: 640px){

    .projectment__group__list{
        width: 47%;
    }
}
@media (min-width: 768px){
    .projectment ul{
        display: flex;
        flex-wrap: wrap;
    }
    .projectment__group__list{
        width: 33%;
    }
}

@media (min-width: 992px){

    .projectment__group__list{
        width: 16.5%;
    }
}

.certiGlan{}
.certiGlan__group{
    display: flex;
    flex-wrap: wrap;
}
.certiGlan__group__list{
    width: 100%;
    text-align: center;
    margin: 15px 15px;
}
.certiGlan__group__list:last-child{
    margin-right: 0;
}
.cg__g__l--image{
    width: 100%;
    background-color: #dddddd;
    padding: 20px;
}
.cg__g__l--image img {
    border-radius: 4px;
    max-width: 80px;
}
.cg__g__l--title{
    padding-top: 10px;
    padding-bottom: 10px;
}
.cg__g__l--subimage{
    margin-top: 10px;
    position: relative;
}
.cg__g__l--subimage:before{
    content: '';
    position: absolute;
    top: -13px;
    left: 50%;
    width: 0; 
    height: 0; 
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #b92f6a;
    
  }
  @media (min-width: 640px){
    .certiGlan__group__list{
        width: 44%;
    }
}
  @media (min-width: 992px){
    .certiGlan__group__list{
        width: 22%;
    }
    .certiGlan__group__list.half{
        width: 44%;
    }
}
@media (min-width: 1200px){
    .certiGlan__group__list{
        width: 22.5%;
    }
    .certiGlan__group__list.half{
        width: 45%;
    }
}

/*==== 3 block ====*/
.certiGlan3 .certiGlan__group__list .cg__g__l--image img{
    margin: 8px;
}
.certiGlan3 .certiGlan__group__list{
    width: 100%;
}
.certiGlan3-bar.cg__g__l--subimage{
    margin-top:0px;
    padding-top: 0px;
}
.certiGlan3-bar.cg__g__l--subimage:before{
    display: none;
}
.certiGlan3-bar ul{
    display: flex;
    justify-content: space-around;
    border-top: 3px solid #b92f6a;
    padding-top: 15px;
    width: 70%;
    margin:0 auto;
}
.certiGlan3-bar ul li{
    position: relative;
}
.certiGlan3-bar ul li:before{
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #b92f6a;
}

@media (min-width: 768px){
    .certiGlan3 .certiGlan__group__list .cg__g__l--image img{
        margin: 10px 30px;
    }
}
@media (min-width: 900px){
    .certiGlan3 .certiGlan__group__list .cg__g__l--image img{
        margin: 10px 18px;
    }
    .certiGlan3 .certiGlan__group__list{
        width: 22%;
    }
    .certiGlan3 .certiGlan__group__list.half{
        width: 44%;
    }
}
@media (min-width: 1200px){
    .certiGlan3 .certiGlan__group__list{
        width: 22.5%;
    }
    .certiGlan3 .certiGlan__group__list.half{
        width: 45%;
    }
}

/* ====== trainer profile css start here ====== */

  .trainer-profile__block{
    display: flex;
    margin: 0;
    padding: 0;
  }
.trainer-profile .a__info--image{ 
    min-width: 120px;
    float: left;
    margin-right: 40px;
}
.trainer-profile .a__info--image img{ 
    border-radius: 100%;
    border:2px solid #ccc;
    padding: 2px;
    min-width: 120px;
}

.trainer-profile .trainer-profile__info p{
  font-size: 1.2rem;
  color: #fff;
}
.trainer-profile .slider__dots {
  width: 100%;
  text-align: center;
}
.trainer-profile .person-name{
    position: relative;
    margin-bottom: 30px;
}
.trainer-profile .person-name:after{
    content: "";
    width: 100px;
    height: 4px;
    background-color: #fff;
    border-radius: 8px;
    position: absolute;
    left: 0;
    margin: 0;
    bottom: -15px;
    opacity: 1;
    z-index: 2;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}
.trainer-profile .person-designation{
    margin-bottom: 20px;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    outline: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    
  }
  .modal-profile{
    display: none;
  }
 .modal__contact-area {
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.modal__close {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 1.4rem;
    line-height: 0;
    border-radius: 50%;
    position: absolute;
    right: 3px;
    top: 1px;
    z-index: 999;
}
.modal__close i {
    color: #fff;
    font-size: 32px;
}
.trainer-profile {
    margin: 0 auto;
    -webkit-animation: slideFromTop .2s backwards;
    animation: slideFromTop .2s backwards;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.modal__mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background: rgba(14,96,110, 0.9);
}
/* ====== trainer profile css End here ====== */